body,
    .display {
        width: 100%;
        display: flex;
    }

    h1,
    form {
        width: 50%;
        margin-left: auto;
    }

    p {
        font-weight: bold;
        margin-left: auto;
    }

    .display div {
        width: 100%;
        margin: 0 0 0 100px;
    }

    th {
        text-align: center;
    }